.no-border-radius {
    border-radius: 0px !important;
}

.twilight_grad_night {
    background: #ffffff; /* For browsers that do not support gradients */
    border-radius: 5px;
	padding-left: 1em;
    background: -webkit-linear-gradient(left, #e0e8ff, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e0e8ff, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e0e8ff, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e0e8ff, #ffffff); /* Standard syntax (must be last) */
}

.twilight_grad_day {
    background: #ffffff; /* For browsers that do not support gradients */    
    border-radius: 5px;
	padding-left: 1em;
    background: -webkit-linear-gradient(left, #fffeaa, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #fffeaa, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #fffeaa, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #fffeaa, #ffffff); /* Standard syntax (must be last) */
}

.sensors_grad_blue {
    background: #ffffff; /* For browsers that do not support gradients */    
    border-radius: 5px;
	padding-left: 1em;
	padding-bottom: 3px;
    background: -webkit-linear-gradient(left, #d4dff9, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d4dff9, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d4dff9, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d4dff9, #ffffff); /* Standard syntax (must be last) */
}

.sensors_grad_yellow {
    background: #ffffff; /* For browsers that do not support gradients */    
    border-radius: 5px;
	padding-left: 1em;
	padding-bottom: 3px;
    background: -webkit-linear-gradient(left, #feffa9, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #feffa9, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #feffa9, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #feffa9, #ffffff); /* Standard syntax (must be last) */
}

.sensors_grad_green {
    background: #ffffff; /* For browsers that do not support gradients */    
    border-radius: 5px;
	padding-left: 1em;
	padding-bottom: 3px;
    background: -webkit-linear-gradient(left, #a4ff9d, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #a4ff9d, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #a4ff9d, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #a4ff9d, #ffffff); /* Standard syntax (must be last) */
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* Navbar */
.navbar-minibal,
.navbar-minimal .navbar-brand,
.navbar-minimal .navbar-nav > li > a {
    color: #777;
    background: #fff;
}

.navbar-minimal .navbar-nav > li > a:focus,
.navbar-minimal .navbar-nav > li > a:hover {
    color: #333;
    background: #fff;
}

.navbar-minimal .navbar-nav > .active > a,
.navbar-minimal .navbar-nav > .active > a:focus,
.navbar-minimal .navbar-nav > .active > a:hover {
    color: #1f77b4;
    background: #fff;
}

/* Gallery controls */
.prev, .next,
.prev:hover, .next:hover,
.prev:focus, .next:focus {
    text-decoration: none;
}

/* Images */
.layered-image {
    box-shadow: 1px 1px 5px #d4d4d4;
}

.progress-slim {
    height: 6px;
}

/* Footer */
.container-footer-offset {
    padding-bottom: 130px;
}
